.main-chat
  .main-chat-header
    .main-chat-header-box
      .main-chat-header-box-group
        %p.main-chat-header-box-group-name
          = @group.name
        .main-chat-header-box-group-option
          = icon("fa", "user")
          %p.integer
          = @group.users.count
      .main-chat-header-box-edit
        = icon("fas", "users-cog")
  = form_for @group do |f|
    .group
      .group__inner
        .group__inner-box
          .group__inner-box-header
            %p.group__inner-box-header-edit
              チャットグループを編集
            .groups__inner-box-header-close
              = icon("fas", "times")
          .group__inner-box-form
            .group__inner-box-form-left
              .field-box
                %p.field-box-label グループ名
                = f.text_field :name, class: "input", placeholder: 'グループ名を入力してください'
              .field-box
                %p.field-box-label チャットメンバーを追加
                %input{ placeholder: "追加したいユーザー名を入力してください", class: "input users",id: "add-user"}
              .add-users
              .field-box
                %p.field-box-label チャットメンバー
                .input-group
                  %p.input-group-users 
                    =current_user.name
                  %input{ name: "group[user_ids][]" ,type: "hidden", value: current_user.id} 
                .add-js-user
                - @group.users.each do |user|
                  - if current_user.name != user.name
                    .input-group
                      %p.input-group-users 
                        = user.name
                      %input{ name: "group[user_ids][]" ,type: "hidden", value: user.id}
                      .remove-btn 
                        削除
            .profile__inner-box-form-right
              -if @group.image.present?
                = image_tag @group.image.url, size: "200x200", class: "profile-image"
              -else
                = image_tag "users-group.png", size: "200x200", class: "profile-image"
              = f.label :image , class: ".profile-page__inner-box-mid-image", for: "group_image" do
                %p.input 画像をアップロード
                = f.file_field :image, class: "user-image"
          .group__inner-box-form-bottom
            .bottom-box
              .close-btn キャンセル
              = f.submit "編集" , class: "bottom-box-new"
            
  .main-chat-chat
    .messages
      = render @messages
  
  = form_for [@group, @message] do |f|
    .form
      .message-box
        = f.text_field :text, placeholder:"#{@group.name} へのメッセージ",class: "message-box-text"
        = f.label :image, class: "form-image" do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
        = f.submit "送信" , class: "edit-btn"

.right-user
        
        