.message{data:{id:message.id}}
  .message-image{data:{user_id:message.user.id}}
    - if message.user.image.url.present?
      = image_tag message.user.image.url, size: "50x50"
    - else
      = image_tag "default.jpg", size: "50x50"
  .message-box
    .message-box-box
      .message-box-box-name{data:{user_id:message.user.id}}
        = message.user.name
      .message-box-box-data
        = message.created_at.strftime("%m月%d日 %H時%M分")
    .message-box-content
      - if message.text.present?
        = message.text
    = image_tag message.image.url, size: "200x200", class: "image" if message.image.present?