.side-bar
  .side-bar__header
    .side-bar__header__user
      .side-bar__header__user-image
        - if current_user.image.present?
          = image_tag current_user.image.url, size: "50x50"
        -else
          = image_tag "default.jpg", size: "50x50"
      %p.side-bar__header__user-name
        = current_user.name
    -# .fukidasi
    -#   .fukidasi-box
    -#     %p.profile
    -#       アカウント編集
  = form_for(current_user) do |f|
    .profile 
      .profile__inner-box
        .profile__inner-box-header
          %p.profile__inner-box-header-edit
            プロフィールを編集する
          .profile__inner-box-header-close
            = icon("fas", "times")
        .profile__inner-box-form
          .profile__inner-box-form-left
            .field-box
              %p.field-box-label 氏名
              = f.text_field :name, class: "input"
            .field-box
              %p.field-box-label メールアドレス
              = f.text_field :email, class: "input"
            .field-box
              %p.field-box-label ステータスメッセージ
              = f.text_field :status, class: "input"
          .profile__inner-box-form-right
            -if current_user.image.present?
              = image_tag current_user.image.url, size: "200x200", class: "profile-image"
            -else
              = image_tag "default.jpg", size: "200x200", class: "profile-image"
            = f.label :image , class: ".profile-page__inner-box-mid-image", for: "user_image" do
              %p.input 画像をアップロード
              = f.file_field :image, class: "user-image"
        .profile__inner-box-form-bottom
          .bottom-box
            .close-btn
              キャンセル
            = f.submit "変更を保存する" , class: "bottom-box-update"
            = link_to "ログアウト",  destroy_user_session_path, method: :delete , class: "bottom-box-logout"
  = form_for @group do |f|
    .groups
      .groups__inner
        .groups__inner-box
          .groups__inner-box-header
            %p.groups__inner-box-header-edit
              チャットグループを作成
            .groups__inner-box-header-close
              = icon("fas", "times")
          .groups__inner-box-form
            .groups__inner-box-form-left
              .field-box
                %p.field-box-label グループ名
                = f.text_field :name, class: "input", placeholder: 'グループ名を入力してください'
              .field-box
                %p.field-box-label チャットメンバーを追加
                %input{ placeholder: "追加したいユーザー名を入力してください", class: "input"}
              .field-box
                %p.field-box-label チャットメンバー
                -# %input{ name: "group[user_ids][]" , class: "input-group"}
                =  f.collection_check_boxes :user_ids, User.all, :id , :name
          .groups__inner-box-form-bottom
            .bottom-box
              .close-btn
                キャンセル
              = f.submit   class: "bottom-box-new"
            
       
  .side-bar__search 
    .side-bar__search-box
      = icon("fa", "search")
      %p.side-bar__search-box-value 
        トークルームとメッセージ検索
  -# .side-bar-title
  -#   %P.side-bar-title-talk
  -#     トークルーム
  .side-bar-chat
    - current_user.groups.each do |group|
      = link_to group_messages_path(group) , class: "side-bar" do
        .side-bar__chat
          .side-bar__chat-image
            = image_tag "default.jpg", size: "50x50"
          .side-bar__chat-contents
            .side-bar__chat-contents-sell
              %p.side-bar__chat-contents-sell-name
                = group.name
              %p.side-bar__chat-contents-sell-time
                -# = group.messages.last.created_at.strftime("%H時%M分")
            %P.side-bar__chat-contents-text
              = group.show_last_message
  .add-btn
    .add-btn-box
      = icon("fa", "plus")

